* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
}

header {
  background-color: hsl(0, 0%, 90%);/*Matriz, Saturação, brilho*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}

.logo{
    height: 43px;
}

header nav{
    display: flex;
    gap: 15px;
}

main{
    display: flex;
    gap: 50px;
    padding: 20px;  
}

.section1{
   /*flex-grow: 1;*/
   width: 70%;
   background-color: hsl(0, 5%, 80%) ; 
   padding: 20px;
}

.section2{
    background-color: hsl(0, 5%, 80%) ; 
    padding: 20px;
    width: 30%;
 }

 footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    color: black;
    bottom: 0;
    position: fixed;
 }

 footer p{
    margin: 5px 0;
 }